node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sentry-build-plugin

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.claude
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store
